/**
 * @file    style.css
 * @author  Robert Liu <rql@andrew.cmu.edu>
 * @author  Jacob Olson <jholson@andrew.cmu.edu>
 * @date    4/05/12
 * @class   15-437
 */

*
{
  border-width: 1px;
  border-style: dashed;
}

html
{
  font-size: 12px;
  font-family: courier new;
}

/* error text */
.error-text {
    color: red;
}

/* <form> settings */
form label
{
  display: block;
  width: 300px;
  margin: 5px 0px;
}

form input
{
  display: inline-block;
  width: 360px;
  margin 10px 5px;
}

form .submit-button
{
  margin: 10px 0px;
  width: 100px;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  min-height: 100%;
}

/* <ul> stuff */

ul
{
  padding: 0px;
}

/* <li> stuff */
li
{
  overflow: hidden;
  clear: both;
}

/* Search bar stuff (in both home.jsp and search.jsp) */

#search-bar
{
  display: inline-block;
  margin: 0px;
  min-width: 700px;
  height: 30px;
}

#search-bar form
{
  width: 100%;
  margin: 0px;
}

.search-box
{
  overflow: hidden;
}

.search-box input
{
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.search-button
{
  float: right;
  margin: 0px 10px;
  height: 100%;
  width: 150px;
}

#header
{
  margin-bottom: 20px;
}

#main-content
{
  min-height: 500px;
  width: 100%;
}

/* <body> with two columns */

.two-col-body #login-link
{
  display: inline-block;
  width: 280px;
  text-align: right;
}

.two-col-body #show-sidebar
{
  float: right;
  width: 250px;
}

.two-col-body #show-sidebar a
{
  float: left;
  margin-right: 10px;
}

.two-col-body #show-sidebar img
{
  height: 50px;
  width: 50px;
}

.two-col-body #show-sidebar span
{
  display: table-cell;
  vertical-align: top;
}

.two-col-body #news
{
  float: left;
  width: 740px;
}

.two-col-body #news-image
{
  text-align: center;
}

/* For login_reg.jsp */

#login_reg #login
{
  display: inline-block;
  width: 400px;
}

#login_reg #register
{
  float: right;
  width: 550px;
}

/* search.jsp */
#search #results
{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#search .search-result-img
{
  display: inline-block;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}

#search .search-result-info
{
  display: inline-block;
  vertical-align: middle;
  width: 600px;
}

#search .search-result-description
{
  height: 200px;
}

/* show.jsp */

#show #show-img
{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 350px;
}

#show #show-img img
{
  height: 250px;
  width: 250px;
}

#show #show-description
{
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#show #show-tabs li
{
  display: inline-block;
}

#show #show-info-container #show-reviews
{
  /* Hide them until we show them manually */
  display: none;
}

/* profile.jsp */
#profile #header a
{
  float: right;
  margin-left: 5px;
}

#profile #profile-tabs li
{
  display: inline-block;
}

#profile #calendar
{
  /* TODO: placeholder dimensions */
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 800px;
}

#profile-main-container #show-subs
{
  /* Hide it until we show it manually. Calendar will be displayed by default */
  display: none;
}
