/**
 * @file    style.css
 * @author  Robert Liu <rql@andrew.cmu.edu>
 * @author  Jacob Olson <jholson@andrew.cmu.edu>
 * @date    4/05/12
 * @class   15-437
 */

*
{
  border-width: 1px;
  border-style: solid;
}

html
{
  font-size: 12px;
  font-family: courier new;
}

/* <form> settings */
form label
{
  display: block;
  width: 300px;
  margin: 5px 0px;
}

form input
{
  display: inline-block;
  width: 360px;
  margin 10px 5px;
}

form .submit-button
{
  margin: 10px 0px;
  width: 100px;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  min-height: 100%;
}

/* <ul> stuff */

ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* <li> stuff */
li
{
  margin-bottom: 5px;
  overflow: hidden;
  clear: both;
}

/* Header stuff */
#header
{
  margin-bottom: 10px;
}

#logo-container
{
  display: inline-block;
  vertical-align: middle;
}

#logo-container a
{
  display: block;
  height: 36px;
}

#logo-container img
{
  max-height: 44px;
  max-width: 150px;
}

#search-bar
{
  display: inline-block;
  margin: 0px 10px;
  width: 550px;
  height: 30px;
}

#search-bar form
{
  margin: 0px;
  height: 100%;
  width: 100%;
}

.search-box
{
  height: 100%;
  width: 400px;
  margin-left: 5px;
}

.search-button
{
  display: inline-block;
  height: 100%;
  width: 130px;
}

#account-misc
{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 230px;
}

/* Main content */

#main-content
{
  width: 100%;
}

/* home.jsp */

#home #show-sidebar
{
  float: right;
  width: 250px;
}

#home #show-sidebar .show-list-image-container
{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#home #show-sidebar img
{
  height: 50px;
  width: 50px;
}

#home #show-sidebar a
{
  display: inline-block;
}

#home #news
{
  float: left;
  width: 740px;
}

#home #news-image
{
  text-align: center;
}

/* For login_reg.jsp */

#login_reg #login
{
  display: inline-block;
  width: 400px;
}

#login_reg #register
{
  float: right;
  width: 550px;
}

/* search.jsp */
#search ol
{
  padding: 0px;
}

#search .search-result-body
{
  display: table;
}

#search .result-img-container
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 200px;
}

#search .search-result-img
{
  height: 150px;
  width: 150px;
}

#search .search-result-info
{
  float: right;
  width: 780px;
}

#search .search-result-description
{
  height: 200px;
}

/* show.jsp */

#show #show-img
{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 350px;
}

#show #show-img img
{
  height: 250px;
  width: 250px;
}

#show #show-description
{
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#show #show-tabs li
{
  display: inline-block;
}

#show #show-info-container #show-reviews
{
  /* Hide them until we show them manually */
  display: none;
}

/* profile.jsp */

#profile #profile-tabs li
{
  display: inline-block;
}

#profile #calendar
{
  /* TODO: placeholder dimensions */
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 800px;
}

#profile-main-container #show-subs
{
  /* Hide it until we show it manually. Calendar will be displayed by default */
  display: none;
}
